/* -------------------------------------------------------------------------- */
/* Global */

.page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}

body {
    margin: 0 auto
}

/* -------------------------------------------------------------------------- */
/* HEADER */

.nav-link{
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #c6c6c6;
    padding: 0 1.5rem;
    text-shadow: 1px 1px #000000;
  }

  header {
    display: flex;
    padding: 2rem;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(20,66,132,255);
}
  
nav {
    position: absolute;
    right: 10%;
  }

  header img {
    height: 6rem;
  }
  header nav ul li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #c6c6c6;
    padding: 0 1.5rem;
  }
  


/* -------------------------------------------------------------------------- */
/* Home */


#voir {
    height: 75vh;
    align-content: center;
    background-image: url("../img/wallpaper.jpg");
    background-size: auto 70vw;
    background-position: center;

}

.homeBTN {
    position: relative;
    width: 25vw;
    padding: 1rem;
    justify-content: center;
    font-size: 200%;
    border: 2px black solid;
    border-radius: 50px;
    background-color: #dddddda4;
    align-content: center;

}

.homeChoice {
    position: relative;
    width: 25vw;
    justify-content: center;
    font-size: 200%;
}

.homeSection1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}

.homeSection2{
    width: 100%;    
    text-align: center;
    background-color: rgba(20,66,132,255);

    padding: 10vh 0;
}

.homeSection2Display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}



/* -------------------------------------------------------------------------- */
/* Ajout catalogue */





.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 4rem 4rem;
    background-color: white;
    border-radius: 1rem;
  }

  form {
    padding-top: 5vh;
    text-align: center;
  }

  .form-group {
    padding: 2vh 10vw ;
    text-align: center;
    justify-content: center;
    width: 80%;
}

  form .form-group label {
    display: block;
    margin-bottom: 1rem;
  }

  form .form-group input,
  form .form-group textarea,
  form .form-group select {
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
    border: 0;
    box-shadow: 0 0 1rem #ddd;
  }

  .btn {
    font-size: 1.8rem;
    background-color: rgba(20,66,132,255);
    color: white;
    padding: 1rem 2rem;
    margin: 1rem auto;
    text-transform: uppercase;
    border: 0;
    border-radius: 2rem;
  }
  
  .info-error {
    color:red;
  }

  .legende {
    text-align: right;
    padding-right: 1vw;
  }

  /* ------------------------------------------------------- */
  /* catalogue */

  
.titre {
    font-size: 200%;
    text-decoration: underline;
    line-height: 30px;
    text-align: center;
    /* padding-bottom: 0; */
}

.catalogueIMG {
    width: 20vw;
    height: 100%;
    border-radius: 15px;

}

.matelasDetails {
    width: 15vw;
    display: table;
    text-align: left;
    margin: 2vw;
}

.matelasDetails p {
    line-height: 1px;
}

.matelasDetails h2 {
    text-transform: uppercase;
}

.encart {
    display: flex;
    width: 35vw;
    height: 20vw;
    margin: 2vw;
    border: 2px solid black;
    border-radius: 15px;
}

.no {
    text-decoration: line-through;
}

.yes {
    font-size: 150%;
    color:#ff6f61;
}

.prix {
    padding: 1vw;
    margin-top: 7vh;
    border: 2px solid black;
    border-radius: 15px;
    background-color: whitesmoke;
}